.headerStyle {
  color: beige;
  background-color: #001529;
  width: 100%;
  /* height: 75px; */
}
.contentStyle {
  color: white;
  background-color: #f0f0f0;
  width: 100%;
  /* height: 400px; */
}
.footerStyle {
  color: beige;
  background-color: rgb(4, 114, 81);
  width: 100%;
  height: 70px;
  /* line-height: 50px; */
}
.contactStyle:hover {
  text-decoration: underline;
  cursor: pointer;
}
.submitButton {
  width: 150px;
  /* background-color: rgb(1, 54, 6); */
  border-radius: 10px;
  /* font-size: medium; */
  color: white;
}
/* .ant-menu-dark {
    background: red !important;
  } */
.welcome {
  color: black;
  font-size: 50px;
  text-align: center;
}
.imagestyle {
  background-color: #f0f0f0;
}
.imagecard {
  /* border-radius: 4px; */
  cursor: pointer;
}

.p12 {
  padding: 12px;
}
.placeOrder {
  /* background-color: #05566e; */
  margin: 20px;
}
/* .wrapper {
    border: 1px solid black;
  } */
.dressName {
  text-transform: capitalize;
}
.dressType {
  text-transform: capitalize;
  /* font-weight: bolder; */
}
.dressPrice {
  /* font-weight: 500; */
  color: rgb(1, 41, 1);
}
.rowpadding {
  /* padding: 5px; */
  margin: 15px;
}
.trackOrder {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
}
.allButtons {
  width: 100px;
  /* background-color: rgb(80, 2, 76); */
}
.dateCard {
  width: 180px;
  margin-bottom: 8px;
  /* color: #ffffff; */
  /* background-color: rgb(80, 2, 76); */
  height: 120px;
}
.currentStock {
  /* width: 200px; */
  background-color: rgb(79, 184, 216);
  height: 130px;
  /* color: #ffffff; */
}
.febStock {
  /* width: 200px; */
  background-color: rgb(226, 94, 5);
  height: 130px;
}
.revenue {
  /* width: 200px; */
  background-color: rgb(17, 109, 40);
  height: 130px;
  /* color: #ffffff; */
}
.clothItems {
  /* width: 200px; */
  background-color: rgb(228, 50, 124);
  height: 130px;
  /* color: #ffffff; */
}
.ant-drawer-close {
  position: absolute;
  top: 10px;
  right: 0;
}
/* .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  } */

// customized antd success message
.custom-success-msg {
  .ant-message-notice-content {
    padding: 0px !important;
    border-radius: 0px !important;
  }
  .msg-container {
    padding: 12px;
    min-width: 250px;
    background: #52c41a;
    color: white;
    font-weight: 500;
    font-size: 15px;
  }
}

// customized antd error message
.custom-error-msg {
  .ant-message-notice-content {
    padding: 0px !important;
    border-radius: 0px !important;
  }
  .msg-container {
    padding: 12px;
    min-width: 250px;
    background: #ff4d4f;
    color: white;
    font-size: 15px;
  }
}

// customized antd warning message
.custom-warning-msg {
  .ant-message-notice-content {
    padding: 0px !important;
    border-radius: 0px !important;
  }
  .msg-container {
    padding: 12px;
    min-width: 250px;
    background: #faad14;
    color: white;
    font-size: 15px;
  }
}
.logoutStyle {
  background: linear-gradient(to right, #97ac3c, #06843f);
  width: 80px;
}
// .logoutStyle:hover {
//   color: white;
//   background: linear-gradient(to right, #97ac3c, #06843f);
// }
.logoutArrowStyle {
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
  // background_color:rgb(4, 101, 51);
}
@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
.customCard {
  border-bottom: none;
}

.custom_scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.custom_scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
